[submodule "mapcontent"]
	path = mapcontent
	url = git@github.com:ivashov/mapcontent.git
[submodule "graphopper-priority"]
	path = graphopper-priority
	url = https://github.com/ivashov/graphopper-priority.git
