[submodule "mapcontent"]
	path = mapcontent
	url = https://github.com/ivashov/mapcontent.git
[submodule "graphhopper-priority"]
	path = graphhopper-priority
	url = https://github.com/ivashov/graphhopper-priority.git
