[submodule "mapcontent"]
	path = mapcontent
	url = git@github.com:ivashov/mapcontent.git
[submodule "graphhopper-road-priority"]
	path = graphhopper-road-priority
	url = git@github.com:ivashov/graphhopper-road-priority.git
	branch = foot-priority
